#Files
*.pyc
*.pyo
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
eval/save_results/
eval/save_color/
save/
dataset/
CLIP/
cityscapesScripts/
dataset_tools/prototypes/
dataset_tools/segment_cmp/
dataset_tools/segment_cmp_erf_ori/
dataset_tools/visualize_1617/
dataset_tools/*.png
eval/save_color_erfnet/
eval/save_color_erfnet_clip_triplet/
eval/save_color_erfnet_proto_stdc_triplet_clip/
eval/save_color_origin_pretrain/
ProtoSeg/
run_shell/*.out
run_shell/train_proto_stdc_triplet_clip2.sh
run_shell/train_proto_stdc_triplet_clip3.sh
run_shell/train_proto_stdc_triplet_clip4.sh
STDC-Seg/
train/triplet_loss_visualize/
train/*.png
train/*.pt
train/main_proto_stdc_triplet_clip2.py
train/main_proto_stdc_triplet_clip3.py
train/main_proto_stdc_triplet_clip4.py
trained_models/
cookies.txt
example_segmentation.png
index.html
license.txt
nohup.out
README.md
